#seccioncardsProd {
    background-image: map-get($colores, fondouno);
    padding-bottom: 15vh;
  
    .contenedorCartasProduc {
      margin-top: 10vh;
  
      .card {
        transition: all 500ms ease;
        box-shadow: 2px 2px 8px map-get($colores, negrofiltro);
        &:hover {
          transform: translateY(-2%);
        }
  
        img.imagenCarta {
          height: 30rem;
          width: 100%;
        }
  
        .DobleCartaProd {
  
          h2.tituloCartaProd {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: map-get($colores, amarillodos);
          }
  
          p.textoCartaProd {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: map-get($colores, amarillodos);
          }
        }
      }
    }
  }
#seccionProdDos {
  background-image: map-get($colores, fondodos);
  padding-bottom: 15vh;
  .novedadProd {
    background-color: map-get($colores, negro);
    h3 {
      color: map-get($colores, amarillodos);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }
  .galeriaProduc {
    .row {
      .imagenGrilla {
        @include aya(50vh, 40vw);
        @include responsive(576px) {
          @include aya(40vh, 80vw);
        }
        img {
          @include aya(100%, 100%);
          border: 3px solid map-get($colores, negro);
          filter: brightness(60%);
          object-fit: cover;
        }
      }
    }
  }
} 