#primeraPreg {
    background-image: map-get($colores, fondodos);
    .contenedorPreg {
        .accordion {
            .accordion-item {
                color: map-get($colores, amarillodos);
                background-color: map-get($colores, negro);
                .accordion-header {
                    .accordion-button {
                        background-color: map-get($colores, negro);
                        color: map-get($colores, amarillodos);
                        &:not(.collapsed) {
                            background-color: map-get($colores, negro);
                            color: map-get($colores, amarillodos);
                        }
                        &:hover {
                            background-color: map-get($colores, amarillodos);
                            color: map-get($colores, negro);
                        }
                    }
                }
                .accordion-collapse {
                    .accordion-body {
                        background-color: map-get($colores, amarillodos);
                        color: map-get($colores, negro);
                    }
                }
            }
        }
    }
}