@mixin flexbox($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }
  @mixin flexboxdos($directiondos, $justifydos) {
    display: flex;
    flex-direction: $directiondos;
    justify-content: $justifydos;
  }  
@mixin aya($alto, $ancho) {
    height: $alto;
    width: $ancho;
}
@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint){
        @content;
    }
}