@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin aya($alto, $ancho) {
    height: $alto;
    width: $ancho;
}
@mixin letra($fuente, $tamano) {
    font-family: $fuente;
    font-size: $tamano;
}
@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint){
        @content;
    }
}