//subheaderinicio
.principal {
    @extend %titulo;
    overflow: hidden;
    background-image: url("../img/portadaindex.webp");
    .subprin {
        @include flexbox(column, center, center);
        overflow: hidden;
        height: 50vh;
        background-color: map-get($colores, negrofiltro);
        z-index: 2;
        .titulo {
            color: map-get($colores, blanco);
            font-style: italic;
            text-decoration: underline;
            z-index: 3;
            text-align: center;
            font-size: 4.3rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
        }
        p {
            font-size: 2.2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: map-get($colores, blanco);
            z-index: 3;
            text-align: center;
            font-weight: 700;
        }
    }
}
@include responsive(768px){
    .principal {
        .subprin {
            .titulo {
                font-size: 4.2rem;
            }
            p {
                font-size: 2rem;
            }
        }
    }
}
@include responsive(480px){
    .principal {
        .subprin {
            .titulo {
                font-size: 3.5rem;
            }
            p {
                font-size: 1.6rem;
            }
        }
    }
}
//subheaderRestantes
.productoProd {
    @extend %titulo;
    background-image: url("../img/portadaprod.webp");
    .subProductoProd {
        height: 50vh;
        background-color: map-get($colores, negrofiltro);
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
@include responsive(768px) {
    .productoProd {
        height: 40vh;
        .subProductoProd {
            height: 40vh;
          }
      }
}
.tituloHistoria {
    @extend %titulo;
    background-image: url("../img/portadahisto.webp");
    .subTituloHisto {
        height: 50vh;
        background-color: map-get($colores, negrofiltro);
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
@include responsive(768px) {
    .tituloHistoria {
        height: 40vh;
        .subTituloHisto {
            height: 40vh;
          }
      }
}
.tituloPreg {
    @extend %titulo;
    background-image: url("../img/portadapreg.webp");
    .subTituloPreg {
        height: 50vh;
        background-color: map-get($colores, negrofiltro);
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
@include responsive(768px) {
    .tituloPreg {
        height: 40vh;
        .subTituloPreg {
            height: 40vh;
          }
      }
}
.tituloContacto {
    @extend %titulo;
    background-image: url("../img/portadacontac.webp");
    .subTituloContacto {
        height: 50vh;
        background-color: map-get($colores, negrofiltro);
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
@include responsive(768px) {
    .tituloContacto {
        height: 40vh;
        .subTituloContacto {
            height: 40vh;
          }
      }
}