$colores: (
    negro: rgb(11,1,1),
    negrofiltro: rgba(11,1,1,0.8),
    amarillouno: rgb(200,241,13),
    amarillodos: rgb(226,230,15),
    amarillotres: rgb(233,236,16),
    amarillocuatro: rgb(201,243,12),
    amarillocinco: rgb(241, 180, 13),
    fondouno: linear-gradient(to bottom, rgba(129, 96, 6, 0.993), rgba(214, 167, 12, 0.856)),
    fondodos: linear-gradient(to top, rgba(129, 96, 6, 0.993), rgba(214, 167, 12, 0.856)),
    fondoboton: rgb(129,96,6),
    blanco: #fff,
    carusel: linear-gradient(to bottom, rgba(232, 248, 7, 0.884), rgba(239, 255, 10, 0.856)),
);

